@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Photo";
}
<div class="text-center"><h2>All Games</h2><hr /></div>
@{
    await Html.RenderPartialAsync("_GamesPartial");
}

<div style="padding-left:800px; padding-top:200px;">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new { page }))
</div>

