<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"] - GoGo</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
            <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="~/css/style.css">*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>
        
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function myFunction() {
            alert("You have to register first");
        }

    </script>

    <style>
        .thumbnail {
            margin-top: 30px;
            height: 300px;
            width: 270px;
            background-color: grey;
            color: #3333f5;
            /*border-radius: 50%*/
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row.content {
            height: 450px
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 300%;
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        img {
            max-width: 180px;
        }

        input[type=file] {
            padding: 10px;
            background: #2d2d2d;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse @*navbar-fixed-top*@">
        <div class="container-fluid @*container*@">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar @*.navbar-collapse*@">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">GoGo</a>
                <a asp-area="" asp-controller="Chats" asp-action="Chat" class="navbar-brand">Chat</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" @*class="navbar-collapse collapse" *@>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="chushka-bg-color"><b>Destinations</b></span>
                        </a>
                        <div class="dropdown-menu nav-link-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Destinations" asp-action="All">All Destinations</a>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" asp-controller="Destinations" asp-action="Create">Create Destination</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="chushka-bg-color"><b>Cources</b></span>
                        </a>
                        <div class="dropdown-menu nav-link-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Cources" asp-action="All">All Cources</a>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" asp-controller="Cources" asp-action="Create">Create Cources</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown chushka-bg-color">
                        <a class="nav-link dropdown-toggle chushka-bg-color" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="chushka-bg-color"><b>Games</b></span>
                        </a>
                        <div class="dropdown-menu nav-link-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Games" asp-action="All">All Gamess</a>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" asp-controller="Games" asp-action="Create">Create Game</a>
                            }
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Stories" asp-action="All">Stories</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid text-center @*container body-content*@" style="background-color:darkgrey">
        @*<div class="container-fluid text-center">*@
        <div class="row content ">
            <div class="col-sm-1 sidenav" style="background-color:grey; text-align:left; color:aliceblue;">
                <p style="margin-top:20px;"><a style="color:aliceblue; " asp-controller="Destinations" asp-action="My"><b>My Destinations</b></a></p>
                <p style="margin-top:20px;"><a style="color:aliceblue" asp-controller="Cources" asp-action="My">My Courses</a></p>
                <p style="margin-top:20px;"><a style="color:aliceblue" asp-controller="Games" asp-action="My">My Games</a></p>
                <p style="margin-top:20px;"><a style="color:aliceblue" asp-controller="Stories" asp-action="My">My Stories</a></p>
            </div>
            <div class="col-sm-10 text-left">
                @RenderBody()
            </div>
            <div class="col-sm-1 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>
    @*@RenderBody()*@

    <hr />
    <footer class="container-fluid text-center">
        <p>&copy; 2018 - GoGo</p>
    </footer>
    @*</div>*@

    <environment include="Development">

        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="/lib/jquery/dist/jquery.min.js"></script>
            <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>
        @*<script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.0.0-rc1-update1/dist/browser/signalr.min.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
