<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/4.1.3/bootstrap.min.css" />
    <script src="~/lib/bootstrap/4.1.3/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />


    <link rel="stylesheet" href="~/lib/bootstrap/4.1.3/bootstrap.min.css" />
    <script src="~/lib/bootstrap/4.1.3/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@

    <title>@ViewData["Title"] - GoGo</title>

    <environment include="Development">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function myFunction() {
            alert("You have to register first");
        }

    </script>

    <style>
        .thumbnail {
            margin-top: 30px;
            height: 300px;
            width: 270px;
            background-color: grey;
            color: #3333f5;
            /*border-radius: 50%*/
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /*.row.content {
            height: 450px
        }*/
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 300%;
            color: rosybrown
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        img {
            max-width: 180px;
        }

        input[type=file] {
            padding: 10px;
            background: #2d2d2d;
        }

        .grad {
            background-image: linear-gradient(lightskyblue, aliceblue);
        }

        .row {
            max-height: 100px;
            overflow: hidden;
        }

        img {
            width: 100%;
            min-height: 100px;
        }

        /*-----------------------------*/
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }


    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><b>GoGo</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Chats" asp-action="Chat" class="navbar-brand">Chat</a>
                </li>

                <li class=" nav-item active nav-item dropdown">
                    <a class="nav-link dropdown-toggle  navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Destinations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Destinations" asp-action="All">All Destinations</a>
                        @if (this.User.Identity.IsAuthenticated)
                        {<a class="dropdown-item" asp-controller="Destinations" asp-action="Create">Create Destination</a>}
                    </div>
                </li>
                <li class=" nav-item active nav-item dropdown">
                    <a class="nav-link dropdown-toggle  navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Cources" asp-action="All">AllCourses</a>
                        @if (this.User.Identity.IsAuthenticated)
                        {<a class="dropdown-item" asp-controller="Cources" asp-action="Create">Create Course</a>}
                    </div>
                </li>
                <li class=" nav-item active nav-item dropdown ">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Games" asp-action="All">All Games</a>
                        <a class="dropdown-item" asp-controller="Games" asp-action="Create">Create Game</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Stories" asp-action="All" class="navbar-brand">Stories</a>
                </li>
            </ul>
            <ul class="navbar-right mr-auto">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid text-center ">
        @*<div class="col-sm-10 text-left">*@
        @RenderBody()
        @*</div>*@
    </div>


    <hr />
    @*<footer class="container-fluid text-center">
            <p>&copy; 2018 - GoGo</p>
        </footer>*@
    <footer class="page-footer font-small blue foo">

        <!-- Copyright -->
        <div class="container-fluid footer-copyright text-center py-3 ">
            © 2018 Copyright:
            <a>&copy; 2018 - GoGo</a>
        </div>
        <!-- Copyright -->

    </footer>
    @*</div>*@

    <environment include="Development">
        @*<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="/lib/jquery/dist/jquery.min.js"></script>
            <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>
        @*<script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.0.0-rc1-update1/dist/browser/signalr.min.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
