@model ViewModels.UsersResultsViewModel

<form class="mx-auto half-width wiy" method="post" asp-controller="Cources" asp-action="CreateResult" asp-route-courceId="@Model.CourceId" asp-route-participantId="@Model.ParticipantId" enctype="multipart/form-data">
    <div style="align-content:center">
        @*<label asp-for="Result"><b>Result</b></label>*@
        <div style="align-content:center">
            <h5>Successfully <input type="radio" asp-for="Result" value="Successfully" /></h5>

            <h5>Unsuccessfully <input type="radio" asp-for="Result" value="Unsuccessfully" /></h5>

        </div>
    </div>
    <div class="text-center style="align-content:center"">
        <button type="submit" @*asp-controller="Cources" asp-action="CreateResult" asp-route-id="@Model.CourceId" *@ class="btn chushka-bg-color text-center">Add result</button>
    </div>
</form>
