
@{
    ViewData["Title"] = "Photo";
}
<main class="mt-3 mb-5">
    <h1 class="text-center">All Participants</h1>
    <hr class="hr-2 bg-dark" />
    <table class="table w-75 mx-auto table-hover">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-1">Participant</th>
                <th class="col-md-2">Add result</th>
            </tr>
        </thead>

        <tbody>
            @{
                await Html.RenderPartialAsync("_ResultsPartial");
            }
        </tbody>
    </table>
</main>